@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body,
html {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  font-size: 10px;
}

.loader-bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {

  width: 100%;
  height: 100%;
  background: #fff url(img/Wedges-3s-200px.gif) no-repeat center;
  z-index: 99999;
}


/*--Navigation--*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  height: 8%;
  background: rgba(0, 0, 0, 0.6) !important;
}
.navbar-brand img {
  width: 20rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(39, 198, 226);
}

/*-----Landing Page-----*/
.home-inner {
  background-image: url(img/sigmund-TJxotQTUr8o-unsplash.jpg);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
}
.caption h1 {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  color: #fff;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2.5rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
  text-transform: lowercase;
  color: rgb(39, 198, 226);
  font-style: italic;
}

.btn-lg {
  padding: 1.5rem 2.6rem;
  border-radius: 0;
  border-width: medium;
  font-size: 1.4rem;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.2rem;
  border: 1px solid #fff;

  background: transparent;
  position: relative;
  cursor: pointer;
}

.btn-about {
  padding: 0.6rem 1.3rem;
  border-radius: 0;
  border-width: medium;
  font-size: 1.1rem;
  display: inline-block;
  text-decoration: none;
  color: #777;
  border: 0.1rem solid #777;
  position: relative;
  cursor: pointer;
}
.btn-about:hover {
  border: 0.1rem solid rgb(39, 198, 226);
  background: rgb(39, 198, 226); /*#2ce626*/
  transition: 1s;
}

.btn-lg:hover {
  border: 0.1rem solid rgb(39, 198, 226);
  background: rgb(39, 198, 226); /*#2ce626*/
  transition: 1s;
}

/*About Section*/
.intro .heading-1 {
  margin-top: 8%;
  letter-spacing: 0.2rem;
  color: #6c6684 !important;
  font-size: 2.3rem;
}

.intro .heading-2 {
  margin-bottom: 3%;
  font-size: 7rem;
  color: #13389e; /*#142850*/
}

.intro .para-1 {
  width: 60%;
  margin-left: 20%;
  font-size: 1.9rem;
  color: #060c18;
  margin-bottom: 2%;
}
.intro-btn {
  padding: 2rem 8rem;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
}
.intro-btn:hover {
  background: #1ebba3; /*#2ce626*/
  transition: 1s;
}
/* Value cards */
.main-container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
.valuez {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10rem;
}
.heading-text {
  letter-spacing: normal !important;
}
.header-title {
  color: #142850;
  font-size: 4rem;
}
.negate-logo {
  margin-left: -1rem;
}
.roww {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #1ebb45;
  border-radius: 1rem;
  margin-bottom: 5%;
  padding-top: 2rem 1.2rem;
  box-sizing: border-box;
}
.course-col-one {
  flex-basis: 31%;
  background: #1ebba3;
  border-radius: 1rem;
  margin-bottom: 5%;
  padding-top: 2rem 1.2rem;
  box-sizing: border-box;
}
.course-col-two {
  flex-basis: 31%;
  background: #1e74bb;
  border-radius: 10px;
  margin-bottom: 5%;
  padding-top: 20px 12px;
  box-sizing: border-box;
}
.course-col-one,
.course-col-two,
.course-col,
p {
  padding: 10px;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.course-col-one,
.course-col-two,
.course-col,
h5 {
  margin-top: 10px;
  letter-spacing: 3px;
  color: #fff;
  font-size: 2rem;
}
.card .card-title {
  text-transform: uppercase;
  font-weight: 400;
}

/* Services Section */
.services {
  background-color: rgb(69, 72, 73, 0.1);
}
.val {
  margin-top: 5%;
}
#services .heading-2 {
  margin-top: 3%;
  font-size: 4.9rem;
  color: #142850;
}

.card-title {
  letter-spacing: 3px;
  color: #060c18;
  transition: all 0.5s ease-in-out;
  font-size: 2rem;
  text-transform: uppercase;
}
.card {
  min-height: 100%;
  margin-top: 10px;
  transition: all 0.1s ease-in-out;
  border-radius: 12px;
  background-color: #fff;
  margin: 20px;
}
.card:hover {
  background-color: #1ebba3;
  cursor: pointer;
}

.card-text {
  font-size: 1.5rem;
  color: #060c18;
  text-align: center;
}
.card-title:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #1a1b8a;
}
.last {
  margin-top: 10px;
}

/* Register Section*/

.register-container {
  max-width: 100%;
  width: 100%;
  background: #1ebba3;
  margin-top: 10rem;
}
.register-container .heading-1 {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.register-container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0 1.2rem 0;
}

form .user-details .input-box {
  width: calc(90% / 3 - 4rem);
  margin-bottom: 1.5rem;
  margin: 2rem;
}

form .user-details .input-box .details {
  font-size: 1.3rem;
}

.user-details .input-box input,
.user-details .input-box textarea {
  height: 4.5rem;
  width: 100%;
  outline: none;
  border-radius: 0.5rem;
  border: 0.1rem solid #ccc;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  border-bottom-width: 0.7rem;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.user-details .input-box button {
  max-width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 1.2rem;
  font-size: 1.3rem;
}
.user-details .input-box button:hover {
  background-color: #1e74bb;
}

.user-details .input-box .details {
  font-weight: 400;
  margin-bottom: 0.5rem;
  float: left;
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.row {
  padding-top: 2rem !important;
}
.narrow h1 {
  font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1ebba3;
  background-color: #1ebba3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}
#clients {
  margin-top: 5rem;
}

.test-container {
  background: url(img/annika-gordon-cZISY8ai2iA-unsplash.jpg);
  background-size: cover;
  margin-top: 10rem;
  background-position: center;
}

.inner {
  overflow: hidden;
}
.inner img {
  transition: all 1.5s ease;
}
.inner:hover img {
  transform: scale(1.5);
  cursor: pointer;
}

.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 4rem;
}

.testimonials .content .box {
  width: 34rem;
  margin: 2rem;
  padding: 4rem;
  background: #fff;
  display: flex;
  border-radius: 0.6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials .content .box .imgBx {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials .content .box .text {
  text-align: center;
}
.testimonials .content .box p {
  color: #666;
  font-style: italic;
}

.testimonials .content .box .text h2 {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #777;
  font-weight: 700;
}
.section3-header {
  font-size: 2.5rem !important;
  /* color: #13389e; */
}
.section3-sub {
  font-size: 3rem !important;
  /* color: #13389e; */
  text-transform: uppercase;
}


.location {
  width: 80%;
  margin: auto;
  padding: 8rem 0;
}

.location iframe {
  width: 100%;
}
.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 3rem;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.contact-col div span {
  margin-left: 4rem;
}
.contact-col .fas {
  font-size: 2px;
  margin: 1rem;
  margin-right: 1rem;
}

.contact-col div p {
  padding: 0;
  color: #000;
  font-size: 1.5rem;
}

.contact-col div h5 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #000;
  margin-left: 2rem;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  font-size: 1.4rem;
  padding: 1.7rem;
  margin-bottom: 1.7rem;
  outline: none;
  border: 0.1rem solid #1ebba3;
  box-sizing: border-box;
}

.contact-col button {
  padding: 1.5rem 2.6rem;
  border-radius: 0;
  border-width: medium;
  font-size: 1.4rem;
  display: inline-block;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.2rem;
  border: 1px solid #1ebba3;

  position: relative;
  cursor: pointer;
}

.contact-col .status.success {
  background-color: #1ebb45 !important;
  animation: status 124s ease forwards !important;
  cursor: auto !important;
}
.status.error {
  background-color: #1a1b8a !important;
  animation: status 4s ease forwards !important;
  cursor: auto !important;
}

.footer {
  background: #191b19;
  margin-top: 0;
}

.footer .boxx-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer .boxx-container .boxx {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .boxx-container .boxx h3 {
  font-size: 1.9rem;
  padding: 1rem 0;
  color: #eee;
}

.footer .boxx-container .boxx p {
  font-size: 1.3rem;
  padding: 1rem 0;
  color: #eee;
}

.footer .boxx-container .boxx ul {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  text-decoration: none;
  color: #eee;
}
.footer .boxx-container .boxx ul li {
  margin: 1rem;
}

.footer .boxx-container .boxx a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  text-decoration: none;
  color: #eee;
}

.footer .boxx-container .boxx a:hover {
  color: #1ebb45;
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  padding: 1rem 0.5rem;
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: #fff;
  border-top: 0.2rem solid #1ebba3;
}
.footer .credit span {
  color: #45df6c;
}
#status {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem auto;
  color: #fff;
}
.status.success {
  background-color: #1ebb45 !important;
  animation: status 4s ease forwards !important;
  cursor: auto !important;
}
.status.error {
  background-color: #1a1b8a !important;
  animation: status 4s ease forwards !important;
  cursor: auto !important;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  50% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: all;
  }
}

@media (max-width: 700px) {
  .navbar-toggler {
    float: right;
    position: fixed;
    top: 2%;
    right: 2%;
  }
  .navlogo {
    position: fixed;
    top: -5%;
    left: 17%;
  }
  .navbar {
    height: 7%;
  }
  .header-title {
 
    font-size: 3rem;
  }

  .negate-logo {
    margin-left: -8rem;
  }
  .heading-text {
    font-size: 4rem !important;
  }
  .navbar-brand img {
    width: 15rem;
  }
  .caption h1 {
    font-size: 5rem;
  }
  .caption h3 {
    font-size: 2.3rem;
  }
  .btn-lg {
    padding: 1rem;
  }
  .navbar {
    font-size: 1.2rem;
  }
  .intro .heading-1 {
    color: #142850;
    font-size: 1.5rem;
  }
  .test-container {
   
    margin-top: 0;
  }
.section3-header{
  font-size: 2rem !important;
}
.section3-sub {
  font-size: 2rem !important;
}
  .intro .heading-2 {
    margin-bottom: 3%;
    font-size: 4rem;
    color: #13389e; /*#142850*/
  }

  .intro-btn {
    padding: 1.5rem 3rem;
    letter-spacing: 0.3rem;
    font-size: 1rem;
  }
  .valuez {
    width: 100%;
    margin-bottom: 10rem;
    text-align: center;
    padding-top: 5rem;
    display: block;
  }

  .roww {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    display: block;
  }
  #services .heading-2 {
    margin-top: 3%;
    font-size: 4rem;
    color: #142850;
  }
  form .user-details .input-box {
    width: 100%;
  }

  .contact-col button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .contact-col input,
  .contact-col textarea {
    width: 200%;
  }
  .intro .para-1 {
    margin: auto;
    width: 100%;
    font-size: 1.9rem;
    color: #6c6684;
  }

  .location {
    width: 80%;
    margin: auto;
    padding: 5rem 0;
  }

  .location iframe {
    width: 100%;
  }
  .intro-btn {
    margin-top: 2rem;
  }

  .contact-col div {
    display: flex;
    align-items: center;
    margin-left: 0.1rem;
  }
}
@media (min-width: 768px) {
  form .user-details .input-box {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 2rem auto;
  }

  .contact-col div h5 {
    font-size: 0.3rem;
    font-weight: 400;
    color: #000;
    margin-left: 2rem;
  }
}
@media (min-width: 320px) {
  .contact-col div h5 {
    font-size: 0.9rem;
    font-weight: 400;
    color: #000;
    margin-left: 2rem;
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*
TIMOTHY SAN??
/
